/* 전체 컨테이너 스타일 */
.container {
    padding: 20px;
    background-color: #f5f5f5;
    font-family: 'Apple SD Gothic Neo', sans-serif;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* 아파트 이름 입력 스타일 */
.input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 버튼 스타일 */
.button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* 추천 아파트 개수 입력 스타일 */
.count-input {
    width: 70px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
