/* 각 아파트 항목 스타일 */
.apt-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 110px; /* 고정된 높이 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.apt-name {
    font-weight: bold;
    font-family: 'Apple SD Gothic Neo', sans-serif;
    color: #333333;
}

.apt-addr {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    font-weight: normal;
}

.apt-item p {
    margin: 4px 0;
}

.apt-item strong {
    color: #333;
}
