.read-component-container {
    border: 2px solid #87c0e2;
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #eeeeee; /* 연한 파란색 테두리 */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.fetching-modal {
    display: block;
}

.product-info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.product-info-label {
    width: 20%;
    padding: 12px;
    text-align: right;
    font-weight: bold;
    color: #333;
}

.product-info-value {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.image-container {
    margin-top: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-container button {
    padding: 12px;
    margin: 0 10px;
    font-size: 1rem;
    width: 120px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button-cart {
    background-color: #f87171;
    color: white;
}

.button-cart:hover {
    background-color: #d53f3f;
}

.button-list {
    background-color: #3b82f6;
    color: white;
}

.button-list:hover {
    background-color: #2563eb;
}

.button-order {
    background-color: #333;
    color: white;
}

.button-order:hover {
    background-color: #282c34;

}