/* 페이지 컨테이너 스타일 */
.list-page-container {
    padding: 1rem; /* 내부 여백 */
    width: 100%; /* 전체 너비 */
    background-color: #ffffff; /* 흰색 배경 */
}

/* 페이지 제목 스타일 */
.list-page-title {
    font-size: 1.875rem; /* 텍스트 크기 (3xl) */
    font-family: "Apple SD Gothic Neo";
    font-weight: 800; /* 폰트 두께 (extrabold) */
    margin-bottom: 1.5rem; /* 아래 여백 */
    /*color: #1f2937; !* 진한 텍스트 색상 *!*/
    color: #333;

}

/* 리스트 컴포넌트 감싸는 컨테이너 */
.list-component-wrapper {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    gap: 1rem; /* 컴포넌트 간격 */
}
